*{
   margin: 0;
   padding: 0;
}
// шрифты
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&display=swap');

// переменные
$pink: #FBD6D7;
$blue: #DCE2F2;

.container{
   width: 595px;
   height: 1000px;
   margin: 0 auto;
   background-color: #f9f9f9;
   //padding: 25px;
   font-family: 'Arimo', sans-serif;
   color: #454B73;
}

.triangle-topleft{
   position:absolute;
   width: 0;
   height: 0;
   border-top: 249px solid $blue;
   border-right: 332px solid transparent;
}

.line{
   position: absolute;
}